html, body{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    padding-top: 10px;
}

.jumbo-style {
    color: whitesmoke;
}

.about-section {
    background-color: whitesmoke;

}

.testimonial-section {
}

.services-section {
    background-color: whitesmoke;
    color: black;

}

.contact-section {
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
    text-decoration: black;
}